<div class="container">
  <div class="about">
    <div class="about-heading">
      <img src="http://www.bswhbenefits.com/2016/ntx/PublishingImages/pages/wellness/ThriveLogo_color.png" id="about-heading">
    </div>
    <div class="container">
    <div class="about-intro">
      <p>Here at Thrive&Fusion, we take great pride in our healthy lifestyle. The LV Life is about living a Premium Lifestyle... One that is enjoyed by both Thrive&Fusion Customers and Promoters alike. The Le-Vel brand represents a culture of premium product lines, cool rewards, recognition, getaways, and exciting events. A true ultra premium lifestyle is a blend of freedom, family, financial gain, and achieving a new level in life... The Thrive&Fusion Life!</p>
      <p>Le-Vel was created and envisioned with a greater purpose, a premium plan. This plan is not to create a product, or a product line, but to build a global brand, a new icon. A brand that encompasses ultra premium products: premium product lines. The new brand, for the better lifestyle, premium-seeking consumers.</p>

<p>The largest and most successful companies in the world are extremely good at one thing. They build brands, not products. They are so good at this one focus, they can literally put their logo on anything and it is passionately accepted worldwide. As the Le-Vel vision is birthed with THRIVE, it will continue on with all of our brands and future premium products. Le-Vel will be a global giant; our logo will be on many different products, wherever you go, our logo will go with you.</p>
      <p>The quality, passion and efficacy with one product line, will flawlessly continue on to all product lines, because the true focus, our passion will always remain at its inception, The Brand: Le-Vel was created and envisioned with a greater purpose, a premium plan. This plan is not to create a product, or a product line, but to build a global brand, a new icon. A brand that encompasses ultra premium products: premium product lines. The new brand, for the better lifestyle, premium-seeking consumers.</p>

<p>The largest and most successful companies in the world are extremely good at one thing. They build brands, not products. They are so good at this one focus, they can literally put their logo on anything and it is passionately accepted worldwide. As the Le-Vel vision is birthed with THRIVE, it will continue on with all of our brands and future premium products. Le-Vel will be a global giant; our logo will be on many different products, wherever you go, our logo will go with you. The quality, passion and efficacy with one product line, will flawlessly continue on to all product lines, because the true focus, our passion will always remain at its inception, The Brand: Le-Vel.</p>

<p>To build the Premium Lifestyle Company, we knew we had to look further than just a product, we had to envision a larger purpose, a deeper reason for what we were doing. We had to create the one and only Premium Lifestyle Brand.</p>

<p>To build the Premium Lifestyle Company, we knew we had to look further than just a product, we had to envision a larger purpose, a deeper reason for what we were doing. We had to create the one and only Premium Lifestyle Brand.
</p>
      </div>
    </div>
   </div>
 </div>
