<div class="container">
  <p id="contact-intro">Here at Thrive&Fusion we would love to hear from you about your success or talk to one our staff members regarding about Thrive&Fusion how we can help you.
  <div class="contact">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h1>Contact Us</h1>
    <div class="form-group">
      <input type="text" placeholder="First Name" class="field"></input>
      </div>
        <div class="form-group">
     <input type="text" placeholder="Last Name" class="field"></input>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Email Address" class="field"></input>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Contact Number" class="field"></input>
 </div>
 <button type="submit" id="submit-btn">Submit</button>
 <div class="form-group">
   <span id="contact-us">Address: 234 cherry pie JF, 58485</span>
 </div>
 <div class="form-group">
   <span id="contact-us">Contact: 854-845-1257</span>
 </div>
 <div class="form-group">
   <span id="contact-us">Email: Thrivea&FusionEnergy@gmail.com</span>
 </div>
      </div><!--col-->
      <div class="col-sm-6 col-md-6 col-lg-6">
        <img src="http://static1.squarespace.com/static/5650cf39e4b0c307d58e5d01/t/5669da7d69a91ad6eca42b5d/1511982489160/?format=1500w" id="aboutimg" class="img-responsive">
      </div><!--col-->
    </div><!--row-->
  </div>

 </div>
