<div class="container-fluid">
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner">
     <div class="item active">
       <img src="https://cdn.le-vel.com/en/FrontEnd/Images/Home/Home-MainImage_2018_UltraPremium.jpg" id="thrive-image1" style="width:100%;">
     </div>

     <div class="item">
       <img src="https://cdn.le-vel.com/en/FrontEnd/Images/Home/Home-MainImage_2018_Welcome2pt0.jpg" id="thrive-image2" style="width:100%;">
     </div>

     <div class="item">
       <img src="https://cdn.le-vel.com/en/FrontEnd/Images/Home/Home-MainImage_2018_NameGame.jpg" id="thrive-image3" style="width:100%;">
     </div>
   </div>
 </div>
 </div>
 <div class="landing-page">
   <header class="landing-heading">
   <h1> Welcome to Thrive&Fusion Energy</h1>
 </header>
   <div class="container">
   <div class="landing-page-intro">
     <p>The THRIVE Experience is a combination of our THRIVE Premium Lifestyle Capsule, THRIVE Ultra Micronized Lifestyle Shake Mix, and our Premium Lifestyle DFT (Derma Fusion Technology). Our premium naturopathic and synergistic formula of Vitamins, Minerals, Plant Extracts, Anti-Oxidants, Enzymes, Pro-Biotics, and Amino Acids is like nothing your body has ever experienced! It's Ultra Premium at its finest. What's even better is that the experience is gender specific for Men & Women.</p>
   </div>

   <div class="landing-image4">
     <img src="http://cainbrian.com/wp-content/uploads/2014/09/Thrive-mlm-Le-Vel-products.png" class="img-responsive">
   </div>
     </div>
   <br>
   <br>
