<div class="container">
<div class="order-header">
  <h1>ALREADY A MEMBER SIGN IN HERE TO CONTINUE</h1>
</div>
<div class="login-form">
  <h1>LOG IN</h1>
    <form class="login">
      <br>
      <input type="text" placeholder="EMAIL ADDRESS"></input>
      <br>

      <input type="password" placeholder="PASSWORD"></input>
      <br>

      <button type="submit">SIGN IN</button>
      <br>

      <div class="reset">
        <h5 id="reset">FORGOTTEN EMAIL/PASSWORD? CLICK HERE TO RESET<button type="reset">RESET</button></h5>
      </div>
    </form>

</div>
</div>
