// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
  padding: 0px;
}
#chestnut-background{
  background-image: url("http://www.tabletwallpapers.org/download/chestnut-wallpaper_800x800.jpg");
  background-size: cover;
}
.navbar ul a{
  dislpay: inline-block;
  color: green;
  float: right;
  font-size: 1.3em;
  padding: 6px 2px;
  margin: 0px 10px;
  height: auto;
}
#brand {
  float: left;
  padding: 6px 0px;
  font-size: auto;
}
#myCarousel{
   margin-top: -20px;
}
.item{
  background-size: contain, cover;
}
.landing-heading h1{
  text-align: center;
}
.landing-page-intro p{
  font-size: 20px;
  padding: 20px;
}
.landing-image4{
  background-image: center;
}
/*contactpage*/
.contact{
  margin: auto;
  width: 70%;
}
.contact h1{
  text-align: center;
  margin-bottom: 25px;
}
.form-group{
  text-align: 0px;
}
.field{
  text-align: center;
  height: 30px;
  width: 80%;
  margin: 0px 12%;
}
#submit-btn{
  margin: 3% 42%;
}
#contact-us{
  margin: 0% 4%;
}
#aboutimg{
  padding: 5px;
}
/*footer*/
.copywright {
  float: left;
}
.social {
  float: right;
}
/*about*/
#about-heading{
  height: 200px;
  Width: 50%;
  margin: 2% 24%;
}
.about-intro, p{
  font-size: 1.2em;
}
#about-intro-img{
  margin: 0% 30%;
}
